{
  "app": {
    "guid": "3a1a7787-7f22-4cb1-b0e0-424bdd908319",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.antonionovaesjrgithubio",
    "artifactId": "io.cronapp.apps.antonionovaesjrgithubio"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "M2ExYTc3ODctN2YyMi00Y2IxLWIwZTAtNDI0YmRkOTA4MzE5",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "appid": "io.cronapp.apps.antonionovaesjrgithubio",
      "backend": "false",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "mutual": "false",
      "social": "false",
      "theme": "Material",
      "authentication": "Token"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "locale": "",
  "xframeOptions": "SameOrigin"
}